@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body{
  background-color: #E5E5E5;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.app-products {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1%;
  justify-content: space-around;
}

.app-main-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 90px;
  text-transform: capitalize;
  text-align: center;
  color: #2E266F;
  margin: 10px;
}

.section-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 62px;
  text-transform: capitalize;
  text-align: center;
  color: #2E266F;
  margin-top: 0px;
}

